/* Loaded fonts */

@font-face{
  font-family: Futura;
  src: url(../fonts/Futura.ttf);
}
@font-face{
  font-family: Futura-light;
  src: url(../fonts/Futura-light.ttf);
}

body{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { 
    top: 0.4em; 
}

.palette-bluey{
    /* Bluey */
    color: #37324F;   
    color: #A3B6EF;   
    color: #DBE5FA;   
    color: #CCC373;   
    /* Bingo */
    color: #A9763D;
    color: #D0A96B;
    color: #F6F7D4;
    color: #F7EAC9;
    /*Scene 1 */
    color: #C8E27F;
    color: #B6CD73;
    color: #788B8F;
    color: #5E756D;
    color: #AEC463;
    color: #6A8086;

    color: #B49DDD;
    color: #9482DD;
    color: #7362C7;

    color: #7362C7;
    color: #E5E694;
    color: #D1A0B9;
    color: #BEEB99;

    color: #DDB5C0;
    color: #E0F4A2;
    color: #CDA26C;
    color: #CBCAF3;
    color: #E7F88D;
    color: #C1ECD2;
    color: #9CDD95;
    color: #9CDD95;

}


#scene{
    z-index: 0;
}
.hidden{
    display: none !important;
}
#flat-ui-container{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    pointer-events: none;
}
.noPointerEvents{
    pointer-events: none;
}

/* LOADER */
    #loader-container{
        display:            grid;
        position:           absolute;
        top:                0;
        left:               0;
        width:              100vw;
        height:             100vh;
        z-index:            10;
        cursor:             auto;
    }
    #loader-background{
        position:           absolute;
        top:                0;
        left:               0;
        width:              100vw;
        height:             100vh;
        transition:         all ease-in-out 1000ms;
        backdrop-filter:    blur(0px) contrast(100%);
        -webkit-backdrop-filter:    blur(0px) contrast(100%);
    }
    #loader-background.active{
        background:                 rgba(255, 255, 255, 0.3);
        backdrop-filter:            blur(40px) contrast(60%);
        -webkit-backdrop-filter:     blur(40px) contrast(60%);
    }
    #loader-intro{
        font-family:        'Futura', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
        position:           relative;
        background:        rgba(0, 0, 0, 0.3);
        border-radius:      2vw;
        border:             2.5px solid #fff;
        color:             #fff;
        width:              65vw;
        height:             65vh;
        align-self:         center;
        justify-self:       center;
        z-index:            30;
        transition:         all ease-in-out 1500ms;
    }
    #loader-intro.faded{
        opacity:            0  
    }
        #loader-subHeader,
        #loader-header{
            font-family:        'Futura', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
            text-align:         center;
            text-transform:     uppercase;
        }

        #loader-subHeader{
            font-size:          1vw;
            letter-spacing:     2.75px;
            padding-top:        4vh;
        }
        #loader-header{
            font-size:          2.85vw;
            letter-spacing:     1.25px;
            padding-top:        0.5vh;
            /* padding-bottom:     2vh; */
        }
        .loader-text{
            font-family:        'Futura-light', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
            font-size:          1.25vw;
            line-height:        1.5;
            padding:            0 3vw;
            margin-bottom:      4vh;
            transition:         all ease-in-out 500ms;
        }
        .loader-text.faded{
            opacity: 0
        }
        .loader-button-container{
            position: absolute;
            bottom: 1rem;
            width: 100%;
        }
        .loader-button{
            margin: 0 auto;
            font-size: 1vw;
            font-weight: bold;
            line-height: 1.5;
            padding: 1vw;
            width: 25vw;
            background: #A3B6EF;
            color: #fff;
            text-align: center;
            border-radius: 2rem;
            stroke: rgba(255, 255, 255, 0.2);
            stroke-width: 0.5px;
            pointer-events: none;
            cursor: not-allowed;
            transition: all ease-in-out 50ms;
        }
        .loader-button:hover{
            font-weight: bold;
            width: 25vw;
            background: #37324F;
        }
        .loader-button.ready{
            pointer-events: all;
            cursor: pointer;
        }
/* INTERACTION SHORTUT MENU */
    #shortcuts{
        justify-self: center;
        align-self: center;
        display: grid;
        color: #404040;
        width: 80vw;
        height: 80vh;
        border-radius: 2vw;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 10% 90%;
        pointer-events: none;
        opacity: 0;    
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.8);
        overflow: hidden;
    }

    #shortcuts.visible{
        animation-name: showElement;
        animation-duration: 500ms;
        opacity: 1;
    }
        #shortcuts-header{
            grid-area: 1 / 1 / 2 / 3;
            font-size: 1.25rem;
            font-weight: bold;
            align-self: center;
            justify-self: center;
            padding: 0.5rem;
        }
        .shortcuts-subHeader{
            grid-area: 1 / 1 / 2 / 3;
            font-size: 1.25rem;
            font-weight: bold;
            align-self: center;
            justify-self: center;
            padding: 0.5rem;
        }

        #key-shortcuts-left{
            grid-area: 2 / 1 / 3 / 2;
            margin: 1rem 0rem;
        }
        #key-shortcuts-right{
            grid-area: 2 / 2 / 3 / 3;
            margin: 1rem 0rem;
            border-left: 0.5px solid #404040;
        }

        .key-shortcut-container{
            display: grid;
            grid-template-columns: 1fr 4fr ;
            margin: 1rem;
        }
            .key-shortcut{
                font-size: 1rem;
                text-align: center;
                align-self: center;
                width: 3rem;
                border: 1px solid;
                border-radius: 0.5rem;
                padding: 0.25rem;            
            }
            .key-shortcut.small{
                font-size: 0.75rem;         
            }
            .shortcut-description{
                font-size: 0.8rem;
                margin-left: 1.5rem;
                align-self: center;
            }

            /* TOOLTIP PANE*/
            #tooltip-pane{
                justify-self: center;
                color: #404040;
                width: 100vw;
                height: 20vh;
                opacity: 0;    
                box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
                position: relative;
                z-index: 1;
                background: rgba(255, 255, 255, 0.8);
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                pointer-events: none;
            }
                /* THREE SUBPANES:  Header |  Summary  | Stats */
                #tooltip-header-container{
                    grid-area: 1 / 1 / 2 / 2;
                    padding: 1rem;
                }
                    #tooltip-header{
                        font-size: 4rem;
                        font-weight: bold;
                        align-self: center;
                        justify-self: center;
                        padding: 0.5rem;
                    }

                .tooltip-subheader{
                    font-size: 1.75rem;
                    padding: 0.5rem 0rem;
                }
                #tooltip-summary-container{
                    font-size: 0.8rem;
                    grid-area: 1 / 2 / 2 / 3;
                    padding: 1rem;
                }

                #tooltip-stats-container{
                    font-size: 0.8rem;
                    grid-area: 1 / 3 / 2 / 4;
                    padding: 1rem;
                }
                    .tooltip-stat-container{
                        display: grid;
                        grid-template-columns: 3fr 2fr 1fr;            
                    }
                        .tooltip-stat-label{
                            grid-area: 1 / 1 / 2 / 2;
                        }
                        .tooltip-stat-data{
                            grid-area: 1 / 2 / 2 / 3;
                        }
                        .tooltip-stat-unit{
                            grid-area: 1 / 3 / 2 / 4;
                        }

        @keyframes showElement {
        0%   {opacity: 0}
        100% {opacity: 1;}
        }

